<div style=" border-style: none none solid none; width: 20rem;" class="mt-2 d-flex mx-auto shadow-md">
  <input class="border-0 " style="width: 20rem;" [(ngModel)]="filter" placeholder="search" (input)="location()"><mat-icon
    class="mt-2">search</mat-icon>
</div>
<!-- 
<button (click)="getLocation()">get doctors</button> -->

<div *ngFor = "let val of real" class="doctor-details">
  <div class="hospital"><b>{{val.Hospital}}</b></div>
  <div class="name">{{val.Name}}</div>
  <div class="specialization">{{val.Specialization}}</div>
  <div class="consultation">Consultation fee: {{val.Consultation}}</div>
  <div class="experience">Experience: {{val.Experience}} years</div>
</div>
