<div class="container-fluid d-flex flex-wrap justify-content-around mt-3" >
  <img class="shadow-lg" src="https://www.treehugger.com/thmb/PVOiWku5eio3Tzu40yV6xV9vFlk=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/cow-playfully-cuddling-another-young-cow-lying-down-in-a-field-under-a-blue-sky--calves-love-each-other-1282528841-cb3871fc5b7a4d6082a4a8b35614e4df.jpg" style="width: 25rem; height: 21rem;">

  <div class="list-group list-style-none  border-0 shadow-lg">
    <a href="detect" class="list-group-item list-group-item-action" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h2 class="mb-1">disease detection</h2>
        <small>SCM and LSD</small>
      </div>
      <p class="mb-1">detect LSD through a picture of cow and SCM through milk parameters.</p>
      <!-- <small>And some small print.</small> -->
    </a>
    <a href="vaccination" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h2 class="mb-1">vaccination tracking</h2>
        <small class="text-muted">reminders</small>
      </div>
      <p class="mb-1">register your cow and vaccination details </p>
      <small class="text-muted">track your cow vaccinations and also we will send you next reminders </small>
    </a>
    <a href="location" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h2 class="mb-1">veternary</h2>
        <small class="text-muted">nearby services</small>
      </div>
      <p class="mb-1">locate nearby veternary services</p>
    </a>
    <a href="nutrition" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h2 class="mb-1">Nutrition</h2>
        <small class="text-muted">health of your cattle at your hands</small>
      </div>
      <p class="mb-1">view nutrition requirements of your cow</p>
    </a>
  </div>
</div>