<div class="nutrition-section">
    <h1 class="nutrition-heading" style="color: rgb(13, 23, 24);  text-align: center; font-size: 35px; font-family:Verdana, Geneva, Tahoma, sans-serif;">NUTRITION RECOMMENDATION</h1>
<div class="cards-container">
    <article class="card">
        <article class="card">
            <img
              class="card__background"
              src="https://img.freepik.com/premium-photo/cows-field-with-sunset-background_865967-2590.jpg"
              alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
              width="1920"
              height="2193"
            />
            <div class="card__content | flow">
              <div class="card__content--container | flow">
                <h2 class="card__title">SUB CLINICAL MASTITIS</h2>
                <ol class="card__description" style="font-size: 15px; font: weight 500px ;">
                    <li>High-Quality Forage:</li>
                    <ul>
                        <li>Alfalfa hay</li>
                         <li>Grass hay (timothy, orchardgrass, bermudagrass)</li>
                         <li>Legume-grass mixtures</li>
                    </ul>
                    <li>Balanced Concentrate Feed:</li>
                    <ul>
                        <li>Corn</li>
                        <li>Barley</li>
                        <li>Oats</li>
                        <li>Soybean meal</li>
                    </ul>
                    <li>Supplemental Feeds:</li>
                    <ul>
                        <li>Brewers yeast</li>
                        <li>Prebiotic, Probiotic supplements</li>
                        <li>Omega-3 fatty acid supplements (flaxseed oil, fish oil)</li>
                    </ul>
                    <li>Hydration:</li>
                    <ul>
                        <li>Ensure clean, fresh water is available at all times.</li>
                    </ul>
                    <li>Mineral and Vitamin Supplements:</li>
                    <ul>
                       <li>Zinc</li>
                       <li>Selenium</li>
                       <li>Vitamin E,A,D</li>
                    </ul>
                  </ol>
              </div>
              </div>
          </article>
    </article>
    <article class="card">
        <article class="card">
            <img
              class="card__background"
              src="https://img.freepik.com/free-photo/cows-eating-lush-grass-green-field-front-fuji-mountain-japan_335224-36.jpg"
              alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
              width="1920"
              height="2193"
            />
            <div class="card__content | flow">
              <div class="card__content--container | flow">
                <h2 class="card__title">LUMPY SKIN</h2>
                <ol class="card__description" style="font-size: 15px; font: weight 500px ;">
                    <li>Energy-Dense Feed:</li>
                    <ul>
			            <li>Corn</li>
                        <li>Barley</li>
                        <li>Oats</li>
                        <li>Wheat</li>
                    </ul>
                    <li>Protein-Rich Diet:</li>
                    <ul>
                        <li>Soybean meal</li>
			            <li>Fish meal</li>
			            <li>Cottonseed meal</li>
                    </ul>
                    <li>Vitamin Supplementation:</li>
                    <ul>
                        <li>Vitamin A (beta-carotene)</li>
                        <li>Vitamin D,E,C</li>
                    </ul>
                    <li>Mineral Supplementation</li>
                    <ul>
                        <li>Zinc</li>
			            <li>Copper</li>
			            <li>Selenium</li>
			            <li>Manganese</li>
                    </ul>
                    <li>Hydration and Comfort:</li>
                    <ul>
                       <li>Ensure clean, fresh water is available at all times</li>
                       <li>Provide comfortable resting areas and shelter</li>
                    </ul>
                  </ol>
              </div>
              </div>
          </article>
    </article>
    <article class="card">
        <article class="card">
            <img
              class="card__background"
              src="https://st.depositphotos.com/1057855/2789/i/450/depositphotos_27897993-stock-photo-two-milk-cows-by-river.jpg"
              alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
              width="1920"
              height="2193"
            />
            <div class="card__content | flow">
              <div class="card__content--container | flow">
                <h2 class="card__title">NORMAL COW</h2>
                <ol class="card__description" style="font-size: 15px; font: weight 500px ;">
                    <li>High-Quality Forage: Grass hay, Alfalfa hay</li>
                    <li>Balanced Concentrate Feed like corn, barley, oats, wheat bran, soyabean meal</li>
                    <li>Supplemental Feeds: Molasses, Cottonseed meal, Beet pulp, Brewer's yeast</li>
                    <li>Mineral and Vitamin Supplements like salt, calcium, potassium, magnesium, phosphorus, Vitamin A,D,E,K</li>
                    <li>Ensure clean, fresh water is available at all times</li>
                    <li>Avoid Overfeeding and Obesity</li>
                    <li>Regular Monitoring and Health Checks</li>
                    <li>Provide clean and comfortable housing facilities</li>
                    <li>Ensure adequate ventilation and temperature control</li>
                    <li>Implement biosecurity measures to prevent the spread of diseases</li>
                    <li>Quarantine new animals before introducing them to the herd</li>
                    <li>Follow a vaccination schedule recommended by a veterinarian</li>
                    <li>Implement a parasite control program</li>
                </ol>
                
              </div>
            </div>
          </article>
    </article>
  </div>
  </div>